.app {
    height: 100vh;
    background-color: #020230;
    color: white;
    display: flex;
}

.main {
    width: 75%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230),url(./assets/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.top {
    height: 50%;
    position: relative;
}

.timer {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 80px;
    bottom: 10px;
}

.bottom {
    height: 50%;
}


.money {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.money_list {
    width: 80%;
}

.money_list_item {
    display: flex;
    align-items: center;
    padding: 2px 15px;
    border-radius: 5px;
}

.money_list_item.active {
    background-color: teal;
}

.money_list_item_number {
    font-size: 18px;
    font-weight: 100;
    width: 10%;
    margin-right: 2rem;
    text-align: center;
}

.money_list_item_amount {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    width: 50%;
}