.app {
    height: 100vh;
    background-color: #020230;
    color: white;
    display: flex;
}

.main {
    width: 75%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230),url(./assets/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.money {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.money_list_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 2px 15px;
}

.money_list_item.active {
    background-color: teal;
}

.money_list_item_number {
    font-size: 18px;
    font-weight: 100;
}

.money_list_item_amount {
    font-size: 20px;
    font-weight: 300;
}