.app {
    height: 100vh;
    background-color: #020230;
    color: white;
    display: flex;
}

.main {
    width: 75%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230),url(./assets/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.money {
    width: 25%;
}